<!DOCTYPE html>
<html>
<head>
  <title>NoodallPoll</title>
  <%= stylesheet_link_tag    "noodall_poll/application" %>
  <%= javascript_include_tag "noodall_poll/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
