<div id="main">
<h1>A demonstration of Noodall Poll</h1>
<p>Here is a page with the latest poll included</p>
</div>

<div id="poll">
  <div id="display_poll"></div>
</div>

<%= show_poll_at(@poll.id, '#display_poll') %>
